<div ui-calendar ng-model="vm.events"></div>


<md-content md-theme="light" class="md-padding" layout="row" layout-lg="column" ng-cloak>



  <br>
  <br>

  <form name="vm.user" ng-submit="vm.addTodoRooms()">
      <!-- <div layout layout-sm="column">
          <md-input-container flex="80">
              <label>Company (Disabled)</label>
              <input ng-model="vm.user.company" disabled>
          </md-input-container>
          <md-input-container flex>
              <label>Submission Date</label>
              <input type="date" ng-model="vm.user.submissionDate">
          </md-input-container>
      </div> -->

      <div layout layout-sm="column">



        <md-input-container flex>
          <label>EmpId</label>
          <input ng-model="vm.user.empid">
      </md-input-container>
      <md-input-container flex>
        <label>Organizer</label>
        <input ng-model="vm.user.organizer">
      </md-input-container>




      <md-input-container flex>

      <input class=" md-input" mdc-datetime-picker="" date="true" time="true" id="datetime"
      placeholder="start Date & time" min-date="date" ng-model="dateTime" type="text">

      </md-input-container>

      <md-input-container flex>

      <input class=" md-input" mdc-datetime-picker="" date="true" time="true" id="datetime2"
      placeholder="End Date & time" min-date="date" ng-model="dateTime2" type="text">

      </md-input-container>

      <!-- <md-input-container flex-gt-md="30">
          <label>Timepicker Only</label>
          <input mdc-datetime-picker date="false" time="true" type="text" id="time" short-time="true"
                 placeholder="Time"
                 min-date="minDate"
                 format="hh:mm a"
                 ng-model="time">
      </md-input-container> -->

      </div>


      <div layout layout-sm="column">
          <md-input-container flex>
              <label>capacity</label>
              <input ng-model="vm.user.capacity">
          </md-input-container>
          <md-input-container flex>
              <label>Floor G-5</label>
              <input ng-model="vm.user.floor">
          </md-input-container>

      </div>

      <div layout layout-sm="column">
          <md-input-container flex>
              <label>type of meetring</label>
              <md-select ng-model="vm.userBrand">
                <md-option ng-repeat="brand in vm.brands" value="{{brand.abbrev}}">
                  {{brand.abbrev}}
                </md-option>
              </md-select>
          </md-input-container>
      </div>



      <div layout layout-md="column">
        <label>Anexture ::::  </label>
        <md-checkbox  ng-model="vm.user.projector">
            Projector
        </md-checkbox>
        <md-checkbox  ng-model="vm.user.teliConference">
            teliConference
        </md-checkbox>
        <md-checkbox  ng-model="vm.user.videoConference">
            videoConference
        </md-checkbox>
        <md-checkbox  ng-model="vm.user.wifi">
            wifi
        </md-checkbox>
        <md-checkbox  ng-model="vm.user.whiteboard">
            whiteboard
        </md-checkbox>



        </div>

        <br>
        <br>
        <div layout layout-sm="column">

        <ng-hide
  ng-hide='vm.userBrand!="Emergency"'>
  <md-checkbox  ng-model="vm.user.chief" >
  Chiefs are participating
  </md-checkbox>

</ng-hide>

        </div>


        <div layout layout-sm="column">


          <md-input-container flex>
              <label>Description</label>
              <textarea ng-model="vm.user.discription" columns="1"
                        md-maxlength="150"></textarea>
          </md-input-container>


      </div>

      <!-- <md-input-container flex>
          <label>name</label>
          <input ng-model="vm.user.name">
      </md-input-container> -->

      <md-progress-linear class="widget-progress md-accent" md-mode="determinate"
                          value="{{vm.determinateValue}}" ng-show="vm.showProgress">
      </md-progress-linear>

<br><br>
      <md-button class="md-raised md-warn" ng-click="vm.performProgress()">
          Book
      </md-button>

      <!-- <md-button class="md-fab md-wayrn md-mini" type="submit">
          <i class="material-icons">add</i>
      </md-button> -->


        </form>
</md-content>
