<md-bottom-sheet class="md-list md-has-header">
  <md-subheader>Select action</md-subheader>
  <md-list>
      <!-- <md-list-item ng-repeat="action in vm.actions">
          <md-button class="md-list-item-content"  ng-click="vm.performAction(action)" ng-href="{{action.url}}" target="_blank">
              <i class="material-icons">{{action.icon}}</i>
              <span class="share-label">{{action.name}}</span>
          </md-button>
      </md-list-item> -->


                <div layout layout-sm="column">

                <md-input-container flex>
                    <label>Feedback</label>
                    <textarea ng-model="vm.user.discription" columns="1"
                              md-maxlength="150"></textarea>
                </md-input-container>

                <md-button class="md-raised md-warn" ng-click="vm.performProgress()">
                    Feedback
                </md-button>


            </div>


  </md-list>
</md-bottom-sheet>
